importFrom("stats", coef, lm, dnorm, pnorm)

export(Brook,
       Campbel,
       Dstart,
       Expo,
       MB,
       Ruso,
       SSfredlund, SSgampt, SSgard,
       SShorton, SSkosugi, SSomuto, SSphilip, SSvgm,SSvgm4,
       Tani)
